@import "tailwindcss";

* {
  box-sizing: border-box;
}

:root {

  --color-blue-dark: #0a2540;
  --color-blue: #1d4ed8;
  --color-blue-light: #3b82f6;
  --color-cyan: #06b6d4;
  --color-text-dark: #e2e8f0;
  --color-text-light: #0f172a;
  --color-bg-main: var(--color-blue-dark);
  --color-bg-alt: #1e293b;
  --color-bg-card: #1e40af;
  --color-border: #334155;
  --color-title: var(--color-blue-light);
  --color-btn-bg: var(--color-blue);
  --color-btn-bg-hover: var(--color-blue-light);
  --color-link: var(--color-cyan);
  --color-link-hover: #22d3ee;

}



.correct {
  background-color: orange;
  color: white;
  font-weight: bold;
}

.wrong {
  background-color: var(--color-bg-main);
  border: 0;
  color: var(--color-bg-main);
}

.idle {
  background-color: rgb(255, 199, 96);
  color: rgb(97, 97, 97);
  border: 0;
}

.idle:hover {
  background-color: orange;
  cursor: pointer;
  color: black;
}